<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scorpions_15curtin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scorpions_15Curtin">
        <activity
            android:name=".bmical"
            android:exported="true"
            android:label="Calculate BMI"
            android:parentActivityName=".Care" />
        <activity
            android:name=".Doc_cal"
            android:exported="true"
            android:label="Total Payment"
            android:parentActivityName=".Doctors"/>
        <activity
            android:name=".Doc_Update_Activity"
            android:exported="true"
            android:parentActivityName=".Doctors" />
        <activity
            android:name=".activity_doctors_add"
            android:exported="true"
            android:label="Add Doctors"
            android:parentActivityName=".Doctors" />
        <activity
            android:name=".UpdateCareActivity"
            android:exported="true"
            android:parentActivityName=".Care" />
        <activity
            android:name=".AddCareActivity"
            android:exported="true"
            android:label="Add Vaccination Details"
            android:parentActivityName=".Care" />
        <activity
            android:name=".About"
            android:exported="true" />
        <activity
            android:name=".Care"
            android:exported="true"
            android:label="Care" />
        <activity
            android:name=".Pets"
            android:exported="true"
            android:label="@string/title_activity_pets" />
        <activity
            android:name=".Doctors"
            android:exported="true"
            android:label="Doctors" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Paws">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>