<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scorpions_15curtin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scorpions_15Curtin">
        <activity
            android:name=".pet_cal"
            android:exported="true" />
        <activity
            android:name=".updatePet"
            android:exported="true"
            android:parentActivityName=".AddPets" />
        <activity
            android:name=".AddPets"
            android:exported="true"
            android:label="add pets" />
        <activity
            android:name=".About"
            android:exported="true" />
        <activity
            android:name=".Doctors"
            android:exported="true" />
        <activity
            android:name=".Care"
            android:exported="true"
            android:label="pets" />
        <activity
            android:name=".Pets"
            android:exported="true"
            android:label="@string/title_activity_pets" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>